{% extends 'base.html' %}

{% block content %}
    <h1>Products</h1>
    <div class="row">
        {% for product in products %}
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img style="height: 150px; object-fit: contain;" src="{{ product.image_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p class="card-text">${{ product.price }}</p>
                    <div class="d-flex justify-content-around align-items-center" style="height: 35px; padding-left: 25%; padding-right: 25%">
                        <button class="bg-success">+</button>
                        <button class="bg-danger">-</button>
                        <p class="text-center margin" style="margin-top: 0; margin-bottom: 0;">100</p>
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}